.filter {
    padding-bottom: 25px;
}

.filter>div {
    margin-bottom: 15px;
}

.filter__chip {
    padding: 1px 6px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}

.filter__chip:hover {
    border: 1px solid darkgray;
}

.filter__chip.selected {
    background-color: lightgray;
}